@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-flexbox {
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
  grid-auto-columns: 260px;
  min-height: 100px;
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}
